
<div class="content" >
  <div class="header">
      <p>SID-Tutorial</p>
  </div>
  <div class="body-content">
    <div class="payment-info">
      <div class="product-heal">
        <h3> Product Details </h3>
      </div>
      <div class="product-details">
        <div class="product-img">
          <img src="assets/product.jpg">
        </div>
        <div class="product-content">
          <h3> SONY CyberShot DSC-WX500/BCIN5 </h3>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ratione voluptas accusamus laborum maxime natus error earum sint sit nesciunt, voluptatum voluptatem nemo numquam, accusantium repudiandae autem dolorem? Minima, explicabo. </p>
          <p class="amount" > <span>&#8377;</span> <span> 19999</span></p>
          <div class="buy-button">
            <button (click)="buyProduct()" > <img src="assets/buying.png">  BUY NOW </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
